[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
sklearn = "*"
ethicml = {editable = true,git = "https://github.com/predictive-analytics-lab/EthicML.git"}
pygame = "*"

[requires]
python_version = "2.7"
