[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sklearn = "*"
pygame = "*"
pandas = '<0.23'
fastparquet = "<0.2"

[requires]
python_version = "2.7"
